.container-btn {
  display: block;
  max-width: 250px;
  margin-left: 2em;
  height: 100%;
  outline: none;
}

.search-container {
  overflow: hidden;
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 2em;
  box-shadow: 0 0 5px #ffc700;
  transition: all 0.35s;

  &:hover,
  &:focus,
  &:focus-within {
    width: 10em;
    border-radius: 5px 2em 2em 5px;
    outline: none;

    .button {
      // Стилі для кнопки при розширенні контейнера, якщо потрібно
    }

    input {
      display: inline-block;
      width: 16em;
      padding: 10px;
    }
  }

  input {
    appearance: none;
    float: left;
    width: 0;
    height: 30px;
    margin: 5px;
    margin-right: -2.5em;
    background: #fff;
    color: #6a5d4f;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    border: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.25s;

    &:focus {
      outline: none;
      box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
        0 1px 5px rgba(0, 0, 0, 0.15);
    }
  }
}

.button-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 30px;
  height: 30px;
  margin: 5px;
  background: #6a5d4f;
  text-align: center;
  font-size: 2em;
  color: #fdf6e3;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
    0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/sprite.svg#icon-lupa");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  &:active {
    border: 0 !important;
    text-shadow: 0 0 0;
  }

  i {
    font-size: 85%;
  }
}
