

/* .mix-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mix {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  padding: 20px;
  background-color: lightblue;
  border: 1px solid #ccc;
  border-radius: 4px;
} */