.pagination {
  display: flex;
  align-items: center;
  column-gap: 20px;

  .previous a,
  .next a {
    background-color: transparent;
  }
  
  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    @extend %montserrat-500;
    color: $fontColor;
    border-radius: 3px;
    background-color: #252525;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $accent;
      color: #ffffff;
    }

    &:focus {
      border: 1px solid $accent;
    }

    &:active {
      background: #faeded;
      box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
      color: $bgColor;
      border: 0 solid transparent;
    }
  }

  .selected a {
    width: 60px;
    height: 60px;
    background-color: $accent;
    font-size: 32px;
    @extend %montserrat-700;
    color: #252525;
  }
  .previous.disabled a,
  .next.disabled {
    background-color: #5e5a5a;
    pointer-events: none;
    cursor: not-allowed;
  }

  :global {
  }
}
